nav table {
text-align:center;
background-color:RosyBrown;
width: 100%;
font-family: fantasy;
font-size: 20pt;
}
nav table td {width: 20%; height:15px; } 

nav table a {text-decoration:none;}
 a.menu{color:white;}
 a.menu:hover{color:indigo;}
 a.menu:active{color:DarkSlateBlue;}
 
 a {text-decoration:none;}
 
 video {width:40%;  margin-left: 30%; margin-top: 5px; margin-bottom: 5px;}
 
 .bottom-menu {
position:absolute; bottom: 0px;
text-align:center;
background-color:RosyBrown;
width: 100%;
font-family: monospace;
font-size: 16pt;
}

body.home {
background-image:url(image/favicon.png);
width:100%;

}

.image {
position:relative; width: 100%; margin-bottom: 0;
}

h1 {position:absolute; top:150px; left: 750px; width: 100%; font-family: Monotype Corsiva; font-size: 30pt; color:Thistle;} 
h2 {position:absolute; top:178px; left: 775px; width: 100%; font-family: Monotype Corsiva; font-size: 22pt; color:PaleVioletRed;} 
h3 {position:fixed; top:450px; right: 700px; width: 100%; font-family: monospace; font-size: 12pt; color:RosyBrown;} 


pre.business {position:absolute; top: 45%; left: 40%; font-family: monospace; font-size: 12pt; color:RosyBrown;}
